@use "base";
.title{
  @include base.text-default;
  @apply text-3xl pb-10
}

.big-title{
  @include base.text-default;
  @apply text-5xl font-bold
}


.menu-text{
  @include base.text-default;
  //@apply text-base

}

.regular-text{
  @include base.text-default;
  //@apply text-base
}
.tab {
  @apply  rounded-sm p-4 text-left   border-b-2 dark:border-b-slate-800;
}

.default-background{
  @include base.fill-default;

}

//dark:bg-slate-800 bg-gray-100

